
.chart {
    -fx-background-color: #ffffff;
}

.chart-plot-background {
    -fx-background-color: #ffffff;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}